@import url('https://admission.umontreal.ca/typo3conf/ext/udem_site_admission/Resources/Public/Css/Fonts.css?1695899268');

html,
body {
  margin: 0px;
  background-color: #fff !important;
  background: linear-gradient(to right,
      #fff 70%,
      #0b113a 70.0001%,
      #0b113a 100%);
  font-family: "Graphik", sans-serif !important;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: none;
}

@media (max-width: 768px) {

  html,
  body {
    background: #fff !important;
  }

  .phone-disappear {
    display: none;
  }

  .content-bar {
    /*-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);*/
    box-shadow: .5px .5px 2px 0px rgba(0, 0, 0, 0.3);
  }
}